@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  align-items: center;
  margin: 0;
  flex-grow: 1;

  /* Light mode */
--brand-color: #FF751D;
--faded-brand-color:#FFDAC0;
--primary-color: #000000;
--secondary-color: #FFFFFF;
--ternary-color: #C7CCDC;
--quaternary-color: #52555FB3;
--quinary-color: #52555F;
--placeholder-font-color: #A6ABB9;
--icons-color: #071F41;
--alert-color: #EB5757;
--income-color: #407946;
--expense-color: #E53935;
--primary-background: #F5F6FB;
--secondary-background: #F2F5FC;
--ternary-background: #F6F7FB;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
div {
  padding: 0;
  margin: 0;
  user-select: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

button,
input {
  background-color: inherit;
}

button {
  cursor: pointer;
}

