@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  align-items: center;
  margin: 0;
  flex-grow: 1;

  /* Light mode */
  --brand-color: #ff751d;
  --faded-brand-color: #ffdac0;
  --primary-color: #000;
  --secondary-color: #fff;
  --ternary-color: #c7ccdc;
  --quaternary-color: #52555fb3;
  --quinary-color: #52555f;
  --placeholder-font-color: #a6abb9;
  --icons-color: #071f41;
  --alert-color: #eb5757;
  --income-color: #407946;
  --expense-color: #e53935;
  --primary-background: #f5f6fb;
  --secondary-background: #f2f5fc;
  --ternary-background: #f6f7fb;
  --quaternary-background: #f5f6fa;
  --gradient-background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  --backdrop: rgba(0, 0, 0, 0.5);
  --accent-line: #e0e5eb;
  --disabled-line: #ccc;
  --default-tab: #fafbfd;
  --active-tab:  #fefefe;
  --primary-small-shadow: 5px 10px 20px 0 #aab2c566;
  --primary-shadow: 0 10px 60px 0 #aab2c533;
  --secondary-shadow: 0 10px 60px #aab2c5;
  --ternary-shadow: 10px 10px 30px #52555f;
  --accent-shadow: 0 3px 4px #aab2c5;
  --brand-shadow:1px 3px 5px 0 #ff6b0859;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
div {
  padding: 0;
  margin: 0;
  user-select: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button,
input {
  background-color: inherit;
}

button {
  cursor: pointer;
}
